{% extends "base.html" %} {% block title %}All_Logs{% endblock %} {% block content%}  
<h1 align="center">Employee statistics</h1>
<div class="container">
    <section class="float-left" style="width: 17%; height: auto;">
        <div>
            <img src="/static/statistics.png" class="img-fluid " alt="Responsive image">
        </div>
    </section>
    <section>
        <section class="float-right" style="width: 18%; height: auto;">
            <form method="POST">
              <div class="list-group" name="how_long">
                <button type="submit" class="list-group-item list-group-item-action" name="time" id="time" value="all_time">All time</button>
                <button type="submit" class="list-group-item list-group-item-action" name="time" id="time" value="today">Today</button>
                <button type="submit" class="list-group-item list-group-item-action" name="time" id="time" value="yesterday">Yesterday</button>
                <button type="submit" class="list-group-item list-group-item-action" name="time" id="time" value="this_month">This month</button>
                <button type="submit" class="list-group-item list-group-item-action" name="time" id="time" value="prev_month">Previous month</button>
                <button type="submit" class="list-group-item list-group-item-action" name="time" id="time" value="this_year">This year</button>
              </div>
            </form>
        </section>
        <section class="float-left" style="width: 60%; height: auto;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                            <h4>Average time of work: </h4><p> {{ avg_time }}</p>

                </li>
                <li class="list-group-item">
                            <h4>Total days at work: </h4> <p> {{ total_days}}</p>
                </li>
              </ul>
        </section>   
    </section>
</div>
{% endblock %}
    
